*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    -webkit-box-shadow: 0px 8px 22px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 22px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 22px -8px rgba(0,0,0,0.75);
}

.container{
width: 1340px;
margin: 0 auto;
}

.navbar{
    padding: 10px 0px;
display: flex;
justify-content: space-between;
align-items: center;
}

.navbar img{
    width: 55px;
}

.navbar-menu{
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar-menu li{
    list-style: none;
    padding: 10px;
}

.navbar-menu li:hover{
    background-color: #f6cb16;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.navbar-menu li a{
    text-decoration: none;
    color: #545454;
    font-weight: 600;
    font-size: 16px;
}

.navbar-menu li svg{
    font-size: 25px;
    cursor: pointer;
    margin-right: 25px;
}

.navbar-menu button{
    padding: 10px 16px;
    background: #f6cb16;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.search-box{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.search-box input{
    width: 480px;
    padding: 12px 10px;
    border: 1px solid #cbcbcb;
    font-size: 17px;
}

.search-box input:focus{
    outline: 2px solid  #f6cb16;
}

.search-box button{
    padding: 14px;
    background: #f6cb16;
    border: none;
    cursor: pointer;
}

.resturant-cards{
    display: flex;
    min-height: 58vh;
    margin-top: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resturant-cards img{
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.resCard{
    position: relative;
    width: 240px;
    height: 350px;
    margin-bottom: 35px;
    padding: 10px;
    box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, .2);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    cursor: pointer;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.resCard h4{
    margin: 10px 0px;
    color: #1d1d1d;
}

.resCard p{
    font-size: 12px;
    line-height: 17px;
    color: #000;
}

.rateDiv{
    margin: 10px 0px;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

.rateDiv span{
color: #000;
}

.greenBtn{
background-color: #00ad1d;
color: #fff;
border: none;
padding: 10px;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
}

.redBtn{
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.footer {
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, .71);
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.footer p{
    font-weight: 700;
    font-style: italic;
}
.footer p span{
  color: #f6cb16;
}

.shimmer-container{
    display: flex;
    margin-top: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shimmer-card{
    width: 240px;
    height: 350px;
    background-color: #f3f3f3;
    margin-bottom: 35px;
    padding: 10px;
    box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, .2);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    cursor: pointer;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.shimmer-res{
    width: 850px;
    height: 200px;
    background-color: #f3f3f3;
    margin: 0px auto;
    box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, .2);
}

.errorText{
    width: 100%;
    text-align: center;
    font-style: italic;
}

.resturant-cards a{
    text-decoration: none;
}

.resDiv{
    width: 850px;
    background-color: #171717;
    margin: 0px auto;
    display: flex;
    align-items: center;
}

.resDiv img{
    width: 30%;
    margin: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.resDiv h3{
    font-size: 40px;
    font-weight: 300;
    color: #fff;
}
.resDiv h5{
    font-size: 15px;
    color: rgba(234, 234, 234,0.7);
    font-weight: 100;
    margin-top: 8px;
    margin-bottom: 20px;
}

.darkBtn{
   background-color: #016034;
   color: #fff;
   border: none;
   padding: 10px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.sidebySide{
    display: flex;
    align-items: center;
    gap: 35px;
}

.sidebySide h6{
    color: #eaeaeacc;
    font-size: 16px;
    border-left: 2px solid #fff;
    padding-left: 25px;
}

.about-box{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 326px;
}

 .right-about{
    padding: 65px 90px;
    box-shadow: 6px 6px 10px -1px rgb(114 109 109 / 71%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.left-about{
    width: 50%;
    padding: 20px 0px;
    box-shadow: 6px 6px 10px -1px rgb(114 109 109 / 71%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.left-about , .right-about a , a:-webkit-any-link {
text-decoration: none !important;
}

.left-about p{
    color: #8c8c8c;
    font-style: italic;
    font-size: 18px;
    margin: 20px 0px;
}

.left-about svg{
    font-size: 40px;
    margin: 0px 5px;
    cursor: pointer;
}



.leftImg{
width: 30%;
}

.leftImg img{
    width: 100%;
}

.bySide{
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-top: 30px;
}

.right-about h2 span{
    color: #f6cb16;
}

.right-about a{
    display: inline-block;
    margin-top: 40px;
    padding: 15px 25px;
    border: 1px solid #ffffff;
    background-color: #000000bf;
    color: #fccc02;
    cursor: pointer;
    font-weight: 800;
    border-radius: 15px;
}

.right-about h3 ,.left-about{
    margin-top: 20px;
}

.left-about h3{
    font-size: 30px;
}

.backBtn{
    display: block;
    margin: 55px auto;
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    background: #f6cb16;
    cursor: pointer;
}

.res-detail{
    margin-top: 60px;
}

.accordian{
    background-color: #dfe4ea;
    padding: 15px 50px;
    width: 1200px;
    margin: 5px auto;
    cursor: pointer;
    box-shadow: -1px 8px 60px -21px rgba(0,0,0,0.77);
    -webkit-box-shadow: -1px 8px 60px -21px rgba(0,0,0,0.77);
    -moz-box-shadow: -1px 8px 60px -21px rgba(0,0,0,0.77);
}

.accordian-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordian-header svg{
font-size: 22px;
}

.accordian-header h3{
    font-size: 20px;
    font-weight: 900;
}

.accordian-body{
    cursor: pointer;
}

.single-body{
    padding-bottom: 30px;
    border-bottom: 2px solid #a5a5a5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-body h4{
    color: #555555;
    font-size: 18px;
    margin-top: 35px;
}

.single-body h4 span{
    font-size: 17px;
    color: #e2b502;
    font-weight: bold;
}

.single-body p{
    margin-top: 15px;
    font-size: 19px;
    line-height: 27px;
    color: #838383;
}

.single-body .img-box img{
width: 40%;
}

.single-body .img-box{
    display: flex;
justify-content: end;
align-items: center;
position: relative;
}

.single-body .img-box button{
    position: absolute;
    bottom: -25px;
    right: 37px;
    padding: 13px 18px;
    border-radius: 10px;
    border: none;
    background: #dcb002;
    cursor: pointer;
    font-weight: 800;
    font-size: 12px;
}